{% extends 'burger/index.html' %}
{% load static %}

{% block content %}
<!--speciality starts-->
<section class="speciality">
    <h1 class="heading"> our <span>speciality</span> </h1>

    <div class="box-container">
        <div class="box">
            <img class="image" src="{% static 'images/s-img-1.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-1.png' %}" alt="">
                <h3>tasty burger</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, magnam! Alias esse unde
                    perspiciatis voluptatem sit, accusamus excepturi atque quo.</p>
            </div>
        </div>

        <div class="box">
            <img class="image" src="{% static 'images/s-img-2.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-2.png' %}" alt="">
                <h3>tasty pizza</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, magnam! Alias esse unde
                    perspiciatis voluptatem sit, accusamus excepturi atque quo.</p>
            </div>
        </div>

        <div class="box">
            <img class="image" src="{% static 'images/s-img-3.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-3.png' %}" alt="">
                <h3>cold ice-cream</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, magnam! Alias esse unde
                    perspiciatis voluptatem sit, accusamus excepturi atque quo.</p>
            </div>
        </div>

        <div class="box">
            <img class="image" src="{% static 'images/s-img-4.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-4.png' %}" alt="">
                <h3>cold drinks</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, magnam! Alias esse unde
                    perspiciatis voluptatem sit, accusamus excepturi atque quo.</p>
            </div>
        </div>

        <div class="box">
            <img class="image" src="{% static 'images/s-img-5.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-5.png' %}" alt="">
                <h3>tasty sweets</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, magnam! Alias esse unde
                    perspiciatis voluptatem sit, accusamus excepturi atque quo.</p>
            </div>
        </div>

        <div class="box">
            <img class="image" src="{% static 'images/s-img-6.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-6.png' %}" alt="">
                <h3>healthy breakfast</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, magnam! Alias esse unde
                    perspiciatis voluptatem sit, accusamus excepturi atque quo.</p>
            </div>
        </div>
    </div>
</section>

<!--speciality ends-->
{% endblock content %}